body {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
}

picture {
    margin: 10px;
}

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 1s;
}