@media only screen and (min-width: 44.5em) {
    nav ul {
        display: flex;
    }

    nav ul li {
        display: block;
        flex: 1 1 100%;
    }

    nav li:first-child {
        display: none;
    }

    .hero {
        position: relative;
        width: 80%;
        margin: 20px auto;
    }

    /*.forecast {
        display: block;
    }

    .forecast_table {
        width: 80%;
        padding: 20px;
        margin-left: auto; 
        margin-right: auto;
        background-color: skyblue
    }
    .forecast_table th, td {
        border: 1px solid rgb(0, 0, 0);
        padding: auto;
    }

    .forecast_table td {
        background-color: snow;
    }

    .forecast_table .days {
        background: radial-gradient(rgb(231, 191, 14, 0.8), rgb(211, 65, 65, 0.6));
    }

    .forecast_table tr img {
        margin-top: 3px;
        width: 40px;
    }*/
    .forecast {
        display: block;
    }

    .forecastdiv {
        visibility: visible;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        width: 80%;
        margin: auto;
        background-color: skyblue;
        position: relative;
        padding: 10px;
        box-sizing: border-box;
    }

    .forecastdiv p:nth-child(1) {
        padding: 0;
        margin: 0;
        padding: 15px;
        background: radial-gradient(rgb(231, 191, 14, 0.8), rgb(211, 65, 65, 0.6));
    }


    div.forecastdiv div {
        background-color: white;

    }

    .events {
        width: 80%;
    }

    .article {
        width: 80%;
        margin: 40px auto;

    }

    .article img {
        width: 370px;
        margin: 0;
        float: right;
    }

    .article_text {
        display: inline;
    }

    .mapBox {
        box-sizing: border-box;
        width: 80%;
        padding: 5px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .map {
        grid-column: 1;
    }

    .mapBox>div {
        justify-self: center;
        grid-column: 2;
        line-height: normal;
    }


    footer {
        box-sizing: border-box;
        width: 80%;
    }

    /*.gallery-pictures-grid {
        grid-template-columns: auto auto;
    } */

    .gallery-pictures-grid {
        column-count: 2;
        /*display: grid;
        grid-template-columns: auto;
        grid-gap: 0.5em;
        text-align: center;*/
    }

    form {
        display: inline-block;
    }

    .storm-center-form {
        width: 500px;
    }

    .town {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        /*max-width: 670px;*/
    }

    section:nth-child(odd) .picture {
        grid-column: 1;
    }

    section:nth-child(odd) .info {
        grid-column: 2;
        grid-row: 1;
    }


}